<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptatum animi repudiandae id, itaque vel, asperiores doloribus, quaerat non officiis mollitia ab? Natus aperiam sapiente quasi suscipit, repellendus consequatur obcaecati.</p>
  </div>
</div>