<div class="jumbotron mt-4">
  <div class="container position-relative">
        <h1>Welcome to NotesApp</h1>
        <div class="ContainerImgMain">
          <img src="/img/ImagesNote.png" alt="Cozy Workspace" class="img-fluid my-4 position-absolute top-0 end-0 ImgMain" style="width: 200px;right:0;">
        </div>
        <p class="lead">NotesApp is your personal space to jot down thoughts, ideas, and important information.</p>
        <p>With our easy-to-use interface, you can:</p>
        <ul>
            <li>Register and create your own account</li>
            <li>Login to access your notes anytime, anywhere</li>
            <li>Keep track of your thoughts with our note-taking feature</li>
            <li>Edit and manage your notes easily</li>
        </ul>
        <h2>Get Started</h2>
        <p>Join us today and start organizing your life!</p>
        <a class="btn btn-primary btn-lg" href="/notes"><i class="fas fa-hand-point-right"></i> Get started </a>
    </div>
    
</div>