<div class="jumbotron mt-4">
  <h1 class="display-4">
    Notes App Nodejs and Mongodb
  </h1>
  <p class="lead">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  </p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum illo doloribus nobis, temporibus non omnis officia ullam, modi voluptatibus beatae sit esse distinctio aliquam obcaecati, pariatur dolorem ut ratione labore!</p>
  <a class="btn btn-primary btn-lg" href="/notes"><i class="fas fa-hand-point-right"></i> Get started </a>
</div>